.counter{
  padding: 40px;
  margin: 40px;
  background-color: rgb(0, 244, 142);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: xx-large;
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
}

button{
  background-color: rgb(7, 202, 250);
  color: rgb(41, 46, 46);
  border-radius: 20px;
  border-color: blue;
  width: 200px;
  cursor: pointer;
  font-size: large;
  box-shadow: 10px;
  font-weight: bold;
}
